ion-tab-bar {
    --background: orangered;
    --color: white;
}

ion-tab-button {
    --color-selected: rgb(36, 36, 36);
}

ion-title {
    font-size: larger;
  }

  ion-back-button {
    --color: white;
  }

  ion-toolbar {
    --background: orangered;
    --color: white;
  }